@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    background-color: grey;
    padding: 2em;
    margin-bottom: 50px;
}

.total-container {
    display: grid;
    grid-template-columns: 12% auto;
}

.randomizer {
    display: flex;
    flex-flow: column;
    float: left;

    background-color: grey;

    padding: 1em;

    height: 100%;
}

.character-container {
    display: flex;
    float: right;
    margin-left: 3em;

    background-color: #d6d6d6;
    height: 100%;

    padding: 1em;
    border: 1px solid black;
}

.character-abilities-container {
    display: grid;
    grid-gap: 1em;
    margin: 1em;

    .ability-container {
        display: grid;

        border: 1px solid black;
        border-top-left-radius: 2em;
        border-bottom-right-radius: 2em;

        background: white;
        padding: 1em;

        text-align: center;

        .ability-name {
            font-weight: bold;
            margin-top: -0.8em;
        }

        .ability-score {
            font-weight: bold;
            font-size: 2.5rem;
        }

        .ability-modifier-container {
            border: 1px solid black;
            margin-bottom: -1em;
            border-top-left-radius: 1em;
            border-bottom-right-radius: 1em;

            .ability-modifier {
                font-weight: bold;
            }
        }
    }
}

.character-skills_throws-container {
    display: grid;
    grid-template-rows: 33% auto;
    grid-gap: 1em;
    margin: 1em;
    width: 30%;

    .throws-container, .skills-container {
        display: grid;   
        grid-template-rows: auto 5%;
        grid-gap: 0.5em;
        border: 1px solid black;
        padding: 0.5em;

        .skills {
            display: grid;
            grid-gap: 0.2em;
            
            .skill {
                font-size: 1.12rem;
            }

            input[type="checkbox"] {
                margin-right: 0.5em;
            }
        }

        .throws {
            display: grid;
            grid-gap: 0.5em;

            .throw {
                font-size: 1.3rem;
            }

            input[type="checkbox"] {
                margin-right: 0.5em;
            }
        }

        .throws-container-name, .skills-container-name {
            text-align: center;
            font-weight: bold;
        }
    }
}