@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap");
body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: grey;
  padding: 2em;
  margin-bottom: 50px;
}

.total-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12% auto;
      grid-template-columns: 12% auto;
}

.randomizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  float: left;
  background-color: grey;
  padding: 1em;
  height: 100%;
}

.character-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  float: right;
  margin-left: 1em;
  margin-right: 1em;
  background-color: lightgrey;
  height: 100%;
  padding: 1em;
  border: 1px solid black;
}

.character-abilities-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  margin: 1em;
}

.character-abilities-container .ability-container {
  display: -ms-grid;
  display: grid;
  border: 1px solid black;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background: white;
  padding: 1em;
  text-align: center;
}

.character-abilities-container .ability-container .ability-name {
  font-weight: bold;
  margin-top: -0.8em;
}

.character-abilities-container .ability-container .ability-score {
  font-weight: bold;
  font-size: 2.5rem;
}

.character-abilities-container .ability-container .ability-modifier-container {
  border: 1px solid black;
  margin-bottom: -1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.character-abilities-container .ability-container .ability-modifier-container .ability-modifier {
  font-weight: bold;
}

.character-skills_throws-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 1em;
  margin: 1em;
  width: 30%;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.character-skills_throws-container .throws-container {
  -ms-grid-rows: auto 10%;
      grid-template-rows: auto 10%;
  background-color: white;
}

.character-skills_throws-container .skills-container {
  -ms-grid-rows: auto 3%;
      grid-template-rows: auto 3%;
  background-color: white;
}

.character-skills_throws-container .throws-container, .character-skills_throws-container .skills-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  border: 1px solid black;
  padding: 0.5em;
}

.character-skills_throws-container .throws-container .skills, .character-skills_throws-container .skills-container .skills {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.25em;
}

.character-skills_throws-container .throws-container .skills .skill, .character-skills_throws-container .skills-container .skills .skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13% 13% auto;
      grid-template-columns: 13% 13% auto;
  font-size: 1.12rem;
}

.character-skills_throws-container .throws-container .skills .skill .skill-select, .character-skills_throws-container .skills-container .skills .skill .skill-select {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: inline;
}

.character-skills_throws-container .throws-container .skills .skill .skill-select .select, .character-skills_throws-container .skills-container .skills .skill .skill-select .select {
  background-color: black;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  display: block;
  top: 25%;
  left: 25%;
  position: relative;
}

.character-skills_throws-container .throws-container .throws, .character-skills_throws-container .skills-container .throws {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.1em;
}

.character-skills_throws-container .throws-container .throws .throw, .character-skills_throws-container .skills-container .throws .throw {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 25% auto;
      grid-template-columns: 15% 25% auto;
  font-size: 1.3rem;
}

.character-skills_throws-container .throws-container .throws .throw .mod-select, .character-skills_throws-container .skills-container .throws .throw .mod-select {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: inline;
}

.character-skills_throws-container .throws-container .throws .throw .mod-select .select, .character-skills_throws-container .skills-container .throws .throw .mod-select .select {
  background-color: black;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  display: block;
  top: 25%;
  left: 25%;
  position: relative;
}

.character-skills_throws-container .throws-container .throws-container-name, .character-skills_throws-container .throws-container .skills-container-name, .character-skills_throws-container .skills-container .throws-container-name, .character-skills_throws-container .skills-container .skills-container-name {
  text-align: center;
  font-weight: bold;
}

.character-name_titles-container {
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  max-height: 12%;
  margin: 1em;
}

.character-name_titles-container .character-name-container {
  text-align: center;
  position: relative;
  top: 3em;
}

.character-name_titles-container .character-name-container .character-name {
  font-size: 2rem;
  padding-bottom: 1em;
}

.character-name_titles-container .character-titles-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.character-name_titles-container .character-titles-container .title-container {
  text-align: center;
}
/*# sourceMappingURL=character-generator-style.css.map */