@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    background-color: grey;
    padding: 2em;
    margin-bottom: 50px;
}

.total-container {
    display: grid;
    grid-template-columns: 12% auto;
}

.randomizer {
    display: flex;
    flex-flow: column;
    float: left;

    background-color: grey;

    padding: 1em;

    height: 100%;
}

.character-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    float: right;
    margin-left: 1em;
    margin-right: 1em;

    background-color: lightgrey;
    height: 100%;

    padding: 1em;
    border: 1px solid black;
}

.character-abilities-container {
    display: grid;
    grid-gap: 1em;
    margin: 1em;

    .ability-container {
        display: grid;

        border: 1px solid black;
        border-top-left-radius: 2em;
        border-bottom-right-radius: 2em;

        background: white;
        padding: 1em;

        text-align: center;

        .ability-name {
            font-weight: bold;
            margin-top: -0.8em;
        }

        .ability-score {
            font-weight: bold;
            font-size: 2.5rem;
        }

        .ability-modifier-container {
            border: 1px solid black;
            margin-bottom: -1em;
            border-top-left-radius: 1em;
            border-bottom-right-radius: 1em;

            .ability-modifier {
                font-weight: bold;
            }
        }
    }
}

.character-skills_throws-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 1em;
    margin: 1em;
    width: 30%;
    flex-basis: 15%;

    .throws-container {
        grid-template-rows: auto 10%;
        background-color: white;
    }

    .skills-container {
        grid-template-rows: auto 3%;
        background-color: white;
    }
    
    .throws-container, .skills-container {
        display: grid;   
        grid-gap: 0.5em;
        border: 1px solid black;
        padding: 0.5em;

        .skills {
            display: grid;
            grid-gap: 0.25em;
            
            .skill {
                display: grid;
                grid-template-columns: 13% 13% auto;
                font-size: 1.12rem;

                .skill-select {
                    height: 20px;
                    width: 20px;
                    background-color: white;
                    border-radius: 50%;
                    border: 1px solid black;
                    display: inline;

                    .select {
                        background-color: black;
                        width: 50%;
                        height: 50%;
                        border-radius: 50%;
                        display: block;
                        top: 25%;
                        left: 25%;
                        position: relative;
                    }
                }
            }
        }

        .throws {
            display: grid;
            grid-gap: 0.1em;

            .throw {
                display: grid;
                grid-template-columns: 15% 25% auto;
                font-size: 1.3rem;

                .mod-select {
                    height: 20px;
                    width: 20px;
                    background-color: white;
                    border-radius: 50%;
                    border: 1px solid black;
                    display: inline;

                    .select {
                        background-color: black;
                        width: 50%;
                        height: 50%;
                        border-radius: 50%;
                        display: block;
                        top: 25%;
                        left: 25%;
                        position: relative;
                    }
                }
            }
        }

        .throws-container-name, .skills-container-name {
            text-align: center;
            font-weight: bold;
        }
    }
}

.character-name_titles-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 40% auto;
    flex-basis: 50%;
    flex-grow: 4;
    max-height: 12%;
    margin: 1em;

    .character-name-container {
        text-align: center;
        position: relative;
        top: 3em;

        .character-name {
            font-size: 2rem;
            padding-bottom: 1em;
        }
    }

    .character-titles-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        .title-container {
            text-align: center;
        }
    }
}