@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

$colors: (
    nav-light-color: rgba(0, 0, 0, 0.25),
    nav-dark-color: rgba(255, 255, 255, 0.25),
    nav-light-text-color: rgba(255, 255, 255, 0.6),
    nav-dark-text-color: rgba(0, 0, 0, 0.6)
);

/* Base styling for Nav Bar */
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); //day
    // background: linear-gradient( #355c7d, #6c5b7b, #c06c84); //sunset
    // background: linear-gradient(to top, #f3904f, #3b4371); //sunrise
    // background: linear-gradient(#000428, #004e92); //Night
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.nav-container {
    background-color: map-get($map: $colors, $key: nav-light-color);

    header {
        display: flex;
        justify-content: space-between;
        padding: 2em;
    
        .logo {
            color: map-get($map: $colors, $key: nav-light-text-color);
            font-weight: bold;
        }
    
        ul {
            display: flex;
    
            a {
                display: block;
                padding: 0 1em;
                color: map-get($map: $colors, $key: nav-light-text-color);
            }
        }
    }
}


/* Styling for the Weather App */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    padding: 0;

    // I need to fix the sizing for responsiveness
    main {
        max-width: 90%;
        width: 1000px;
        box-shadow: 0 5px 10px black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .current {
        padding: 90px 40px 40px;
        background: rgba(255, 255, 255, 0.25);

        .general-information {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            color: map-get($map: $colors, $key: nav-dark-text-color);

            .weather {
                font-size: 2.8rem;
                font-weight: bold;
                text-align: center;
            }

            .city {
                font-size: 1.5rem;
                font-weight: normal;
                margin-top: 6px;
                text-align: center;
            }
        }

        .details {
            display: grid;
            justify-content: space-evenly;
            margin-top: 20px;

            .detail {
                align-items: center;

                .title {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: map-get($map: $colors, $key: nav-dark-text-color);
                    text-align: center;
                }

                .value {
                    font-size: 2rem;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }
    
    .icon-trim {
        background-color: rgba(34, 34, 34, 0.5);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .icon-container {
            position: relative;
            top: 80px;
            padding: 20px;
            background-color: map-get($map: $colors, $key: nav-dark-color);
            width: 120px;
            height: 120px;
            border-radius: 50%;
            align-content: center;
    
            img {
                position: absolute;
                right: -20px;
                bottom: -20px;
            }
        }
    }

    .search-container {
        display: flex;
        justify-content: center;

        .search-box {
            margin: 40px;
            font-size: 1.5rem;
            outline: none;
            border: 1px solid #777;
            border-radius: 5px;
            padding: 10px 15px;
            width: 75%;
            background: map-get($map: $colors, $key: nav-dark-color);
        }
    }
}

footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: right;
    padding: 1em;
    background: map-get($map: $colors, $key: nav-light-color);

    a {
        color: map-get($map: $colors, $key: nav-dark-text-color);
    }
}

.pac-container {
    background: map-get($map: $colors, $key: nav-dark-color);
    max-height: 50px;

}

.pac-item {
    font-size: 1.2rem;
    padding: 10px;
    color: black;
}

.pac-icon {
    display: none;
}

.pac-item-query {
    font-size: 1.3rem;
    padding-right: 14px;
}

@media only screen and (max-width: 620px) {
    header {
        padding-bottom: 1em;
    }
    
    .app-container {
        padding-top: 1em;

        .details {
            grid-template-columns: auto auto;

            .detail {
                padding: 1em 0.5em;
            }
        }

        .search-box {
            min-width: 85%;
        }
    }

    .search-box {
        margin: 0px;
    }
}

@media only screen and (min-width: 625px) {
    .details {
        grid-template-columns: auto auto auto;

        .detail {
            padding: 1em;
        }
    }  
}

@media only screen and (min-width: 700px) {
    .detail {
        padding: 1em 2em;
    }
}

@media only screen and (min-width: 1200px) {
    .detail {
        padding: 1em 5em;
    }
}

@media only screen and (max-height: 800px) {
    .app-container {
        padding-top: 20px;
        padding-bottom: 20px;

        main {
            width: 800px;
            max-height: 25%;
        }

        .icon-trim {
            height: 100px;
        }
    }
}